*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;

}

body{
	display: flex;
	
	min-height: 100vh;
	background: #000000;
	margin: 0;
	
}
.cont{

}
.wrapper{
	background-color: aqua;
	margin:10px auto;
	width: 70%
}

img{
	max-width:100px;
	float: left;
	padding-right: 0 50px;

}

.text-box{
	color: #fff;
}

.text-box h2{
	font-size: 42px;

}
.text-box p{
	font-size: 16px;
	margin: 20px 30px;
	padding: 10px 20px;
}
